proxy=http://{CWID}:{pwd}@10.86.255.70:8080/
https-proxy=http://{CWID}:{pwd}@10.86.255.70:8080/
strict-ssl=false
registry=https://registry.npmjs.org/
electron_mirror=https://npmmirror.com/mirrors/electron/

@monsantoit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/

@element:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/

strict-ssl=false

--init-author-name=siva.sundaram.ext@bayer.com

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_authToken=${auth_token}
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:username=${auth_token_username}

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:email=siva.sundaram.ext@bayer.com

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:always-auth=true


@bayer-int:registry=https://npm.pkg.github.com

npm.pkg.github.com/:_authToken=${githubapitocken}

GITHUB_TOKEN=${githubapitocken}

engine-strict=true
legacy-peer-deps=true
